/x64/Release/GitPractice.log
/x64/Release/GitPractice.tlog/CL.read.1.tlog
/x64/Release/GitPractice.tlog/CL.write.1.tlog
/x64/Release/GitPractice.tlog/GitPractice.lastbuildstate
/x64/Release/GitPractice.tlog/cl.command.1.tlog
/x64/Release/GitPractice.tlog/custombuild.command.1.tlog
/x64/Release/GitPractice.tlog/custombuild.read.1.tlog
/x64/Release/GitPractice.tlog/custombuild.write.1.tlog
/x64/Release/GitPractice.tlog/link.command.1.tlog
/x64/Release/GitPractice.tlog/link.read.1.tlog
/x64/Release/GitPractice.tlog/link.write.1.tlog
/x64/Release/gitpractice.obj
/x64/Release/main.obj
/x64/Release/moc_gitpractice.obj
/x64/Release/qrc_gitpractice.obj
/GeneratedFiles/Release/moc_gitpractice.cpp
/GeneratedFiles/qrc_gitpractice.cpp
/GeneratedFiles/ui_gitpractice.h
/GitPractice.vcxproj.user
